<h1 class="text-center">Edit Procedure Practice</h1>
<div class="col-md-3"></div>
<div class="col-md-6">
  <%= form_for @procedure_practice, url: teachers_procedure_practice_path(@procedure_practice.id), role: "form" do |f| %>
    <% if @procedure_practice.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@procedure_practice.errors.count, "error") %> prohibited this procedure practice from being saved:</h2>

        <ul>
        <% @procedure_practice.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <div class="form-group">
        <%= f.label :student %><br>
        <%= f.collection_select(:student_id, Student.all, :id, :full_name, { include_blank: true, :required => true },  
                        { class: 'chosen-select' })  %>
      </div>
    </div>
    <div class="field">
      <div class="form-group">
        <%= f.label :date_assigned %><br>
        <%= f.date_select :date_assigned, :order => [:month, :day, :year] %>
      </div>
    </div>
    <div class="field">
      <div class="form-group">
        <%= f.label :teacher %><br>
        <%= current_teacher_selector(f) %>
      </div>
    </div>
    <div class="field">
      <div class="form-group">
        <%= f.label :procedure %><br>
        <%= f.text_field :procedure, class: "form-control" %>
      </div>
    </div>
    <div class="field">
      <div class="form-group">
        <%= f.label :description %><br>
        <%= f.text_area :description, class: "form-control" %>
      </div>
    </div>
    <div class="actions">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
<div class="col-md-3"></div>
