 <% if flash[:notice] %>
  <p class="flash-notice"><%= flash[:notice] %></p>
<% end %>

<%= form_tag login_path do %>
  <% if flash[:errors] %>
    <p class="flash-notice"><%= flash[:errors] %></p>
  <% end %>

  <%= text_field_tag "username", nil, placeholder: "username" %>

  <%= password_field_tag "password", nil, placeholder: "password" %>

  <%= radio_button_tag(:type, :student) %>
  <%= label_tag(:student) %>
  <%= radio_button_tag(:type, :guardian) %>
  <%= label_tag(:guardian) %>
  <%= radio_button_tag(:type, :teacher) %>
  <%= label_tag(:teacher) %>
  
  <%= submit_tag value="Log In", :class => "btn btn-large btn-primary" %>
<% end %>


<p><%= link_to "Create Guardian Account", root_path %></p>
