<h1>welcome, <%= "#{current_user.first_name} #{current_user.last_name}" %></h1>
<% current_user.student_actions.each do |s| %>
<p><%= s %></p>
<% end %>
<% current_user.enrollments.each do |e| %>
	<%= e.id %>
<% end %>

<% CoreValue.all.each do |cv| %>
	<p><%= cv.name %></p>
	<% cv.actions.each do |action| %>
		<% action.student_actions.select { |sa| sa.enrollment}.each do |sa| %>
		<p><%= sa %></p>
		<% end %>
	<% end %>
<% end %>
