<div class="row text-center">
	<h1 class="hello-header">Hello, <%= "#{current_user.first_name}" %>!</h1>
	<p>You have <b><%= link_to "#{pluralize(current_user.unserved_scholar_hours.count, 'unserved scholar hour')}", students_scholar_hours_path, class: 'cv-link' %></b> and <b><%= link_to "#{pluralize(current_user.unserved_procedure_practices.count, 'unserved procedure practice')}", students_procedure_practices_path, class: 'cv-link' %></b>.</p>
</div>

<!-- <div class="bs-example">
  <div class="alert alert-warning text-center" role="alert">
    <h4>Oh snap! You got an error!</h4>
    <p>Change this and that and try again. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.</p>
    <button type="button" class="btn btn-primary" data-dismiss="alert">Close</button>
  </div>
</div> -->



<div class="modal" id="collegeCountdown" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content text-center">
    	 <div class="modal-header">
    	    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">Got it!</span><span class="sr-only">Close</span></button> <br>
    	  </div>
    	  <br>
      <img src="http://thumbs4.ebaystatic.com/d/l225/m/mJm6bQtSSMmeYJtewn-7mYQ.jpg" alt="">
      <br><br>
      <h1>COLLEGE COUNTDOWN</h1>
      <% now = Date.today %>
			<% target = Date.civil((Date.today.strftime("%Y").to_i + (12 - current_user.grade.to_i)), 8, 25) %>
			<p class="countdown"><%= (target - now).to_i %></p>
			<p class="days">days!</p>
    </div>
  </div>
</div>

<div>
	<% @core_values.each_slice(3) do |three| %>
		<div class="row row-padded">
				<% three.each do |cv| %>
		  		<% @total = @student.all_actions_in(cv.id).count || 0 %>
					<% @positive = @student.positive_actions_in(cv.id).count || 0 %>
					<% @percentage = @total != 0 ? (@positive.to_f / @total.to_f * 100).round(0) : 100 %>	  
				  <div class="col-md-4 text-center">
				  	<%= link_to students_core_value_path(cv.id), class: "cv-link" do %>
					  	<div class="wrapper <%= color_for(@percentage)%> text-center">
								<%= @percentage %>%
							</div>
						 <% end %>
			  		<button class="style-as-link" data-toggle="modal" data-target="#cv<%= cv.id %>"><%= cv.name %></button>
				  </div>
			  <% end %>
			</div>
	<% end %>
</div>

<% @core_values.each do |cv| %>
<div class="modal" id="cv<%= cv.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel"><%= cv.name %></h4>
      </div>
      <div class="modal-body">
				<h5>Bonuses</h5>
				<% cv.actions.positive.each do |action| %>
		    	<div class="pos-actions">
						<ul>
							<li><%= action.name %></li>
						</ul>
					</div>
				<% end %>
				<br>
					<h5>Deductions</h5>
					<% cv.actions.negative.each do |action| %>
						<div class="neg-actions">
							<ul>
								<li><%= action.name %></li>
							</ul>
						</div>
					<% end %>
      </div>
    </div>
  </div>
</div>
<% end %>
