<h1>All Students</h1>
<p id="notice"><%= notice %></p>
<%= link_to 'New Student', new_admin_student_path %>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Grade</th>
      <th>Name</th>
      <th>Email</th>
      <th>ScholarBot Login</th>
      <th>Dob</th>
      <th>Gender</th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.id_num %></td>
        <td><%= student.grade %></td>
        <td><%= link_to "#{student.last_name}, #{student.first_name}", admin_student_path(student) %></td>
        <td><%= student.email %></td>
        <td><%= student.username %></td>
        <td><%= student.dob %></td>
        <td><%= student.gender %></td>
        <td><%= link_to "Reset Password", admin_student_reset_password_path(student), method: :post %></td>
      </tr>

    <% end %>
  </tbody>
</table>


