<h1>welcome, <%= current_user.first_name %> admin!</h1>

<%= form_tag admin_load_students_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import Students" %>
<% end %>

<%= link_to "View Classes", admin_courses_path %>
<%= link_to "View Students", admin_students_path %>
