<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @guardianship.student_id %>
</p>

<p>
  <strong>Guardian:</strong>
  <%= @guardianship.guardian_id %>
</p>

<%= link_to 'Edit', edit_guardianship_path(@guardianship) %> |
<%= link_to 'Back', guardianships_path %>
