<div class="col-md-2"></div>
<div class="col-md-8">
	<h2 class="text-center"><%= student.first_name %>'s Procedure Practices</h2>
	<table class="table">
		<thead>
			<th>Date Assigned</th>
			<th>Staff</th>
			<th>Procedure</th>
			<th>Notes</th>
			<th>Served?</th>
		</thead>
		<tbody>
			<% student.procedure_practices.each do |pp| %>
			<tr>
				<td><%= pp.date_assigned.strftime('%a, %b %e') %></td>
				<td><%= pp.teacher.last_name %></td>
				<td><%= pp.procedure %></td>
				<td><%= pp.description %></td>
				<td class="sh-<%= pp.served? %>"><%= pp.served? ? pp.date_served.strftime('%a, %b %e') : "No" %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>
<div class="col-md-2"></div>
