<div class="robot-box">
  <%= image_tag 'robot.png' %>
  <h1>Hello, I'm ScholarBot!</h1>
<br>
  <div>
    <% if flash[:notice] %>
  	  <p class="flash-notice"><%= flash[:notice] %></p>
  	<% end %>
  </div>

  <div>
    <%= form_tag login_path do %>
  	  <% if flash[:errors] %>
  	    <p class="flash-notice"><%= flash[:errors] %></p>
  	  <% end %>
  	  <%= text_field_tag "username", nil, placeholder: "username" %>
  	  <%= password_field_tag "password", nil, placeholder: "password" %>
      <%= select_tag(:type, options_for_select([['student', "student"], ['guardian', 'guardian'], ["teacher", "teacher"]], selected: :type, class: "chosen-select")) %>
  </div> <br>
  <div>
    <%= submit_tag value="Log In", :class => "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
