<div class="page-header">
  <h1><%= "#{@student.first_name} #{@student.last_name}" %> <small>grade <%= @student.grade %></small></h1>
	<h5><%= "#{pluralize(@student.unserved_scholar_hours.count, 'unserved scholar hour')}"%></h5>
</div>


<div>
	<% @core_values.each_slice(3) do |three| %>
		<div class="row row-padded">
				<% three.each do |cv| %>
		  		<% @total = @student.all_actions_in(cv.id).count || 0 %>
					<% @positive = @student.positive_actions_in(cv.id).count || 0 %>
					<% @percentage = @total != 0 ? (@positive.to_f / @total.to_f * 100).round(0) : 100 %>	  
				  <div class="col-md-4 text-center">
				  	<%= link_to teachers_student_core_value_path(@student.id, cv.id), class: "cv-link" do %>
					  	<div class="wrapper <%= color_for(@percentage)%> text-center">
								<%= @percentage %>%
							</div>
						 <% end %>
			  		<h5><%= cv.name %></h5>
				  </div>
			  <% end %>
			</div>
	<% end %>
</div>


<p id="notice"><%= notice %></p>

<div class="enrollment-table">
	<%= form_tag admin_student_assign_courses_path(@student) do %>
		<%= hidden_field_tag :student_id, @student.id %>
				<table class="table">
					<thead>
						<th>Period</th>
						<th>Current Enrollment</th>
						<th></th>
					</thead>
					<tbody>
						<% @student.enrollments.each do |e| %>
						<tr>
							<td><%= e.period.name %></td>
							<td><%= current_course_selector_for(e) %></td>
							</td>
						</tr>
						<% end %>
					</tbody>
				</table>
				<% if current_admin %>
	    <button type="submit" class="btn btn-primary enrollment-button">Update Course Schedule</button>
	    <% end %>
	<% end %>
</div>

<div class="student-info-table">
	<%= form_for(@student, url: admin_student_path(@student), method: :patch ) do |f| %>
	  <% if @student.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>
	      <ul>
	      <% @student.errors.full_messages.each do |message| %>
	        <li><%= message %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>
		<table class="table">
			<thead>
				<th>Student Information</th>
				<th> </th>
			</thead>
	    <tbody>
		    <tr>
		    	<td><%= f.label :username %></td>
		    	<td><%= f.text_field :username %></td>
		  	</tr>
		  	<tr>
			    <td><%= f.label :first_name %></td>
			    <td><%= f.text_field :first_name %></td>
			  </tr>
			  <tr>
			    <td><%= f.label :last_name %></td>
			    <td><%= f.text_field :last_name %></td>
		  	</tr>
		  	<tr>
			    <td><%= f.label :email %></td>
			    <td><%= f.text_field :email %></td>
		  	</tr>
		  	<tr>
			    <td><%= f.label "ID Number" %></td>
			    <td><%= f.text_field :id_num %></td>
		  	</tr>
		  	<tr>
			    <td><%= f.label "Date of Birth" %></td>
			    <td><%= f.date_select(:dob, start_year: 1995, :order => [:month, :day, :year]) %></td>
		  	</tr>
		  	<tr>
			    <td><%= f.label :grade %></td>
			    <td><%= f.text_field :grade %></td>
			  </tr>
			  <tr>
			    <td><%= f.label :gender %></td>
			    <td><%= f.text_field :gender %></td>
		    </tr>
		  </tbody>
	  </table>
		  <% if current_admin %>
		    <%= f.submit class: "btn btn-primary" %>
	    <% end %>
	<% end %>
</div>


