<div class="col-md-10"></div>
<div class="col-md-2">
	<%= link_to "Create New Scholar Hour", new_teachers_scholar_hour_path %> <br>
	<%= link_to "View Served Scholar Hours", teachers_scholar_hours_completed_path %>
</div>

<div class="col-md-1"></div>
<div class="col-md-10">
	<h3>Unserved Scholar Hours</h3>
	<table class="table">
		<thead>
			<th>Student</th>
			<th>Date Assigned</th>
			<th>Staff</th>
			<th>Reason</th>
			<th>Notes</th>
			<th></th>
			<th></th>
		</thead>
		<tbody>
			<% @unserved_scholar_hours.each do |sh| %>
			<tr>
				<td><%= sh.student.first_name %> <%= sh.student.last_name %></td>
				<td><%= sh.date_assigned.strftime('%a, %b %e') %></td>
				<td><%= sh.teacher.last_name %></td>
				<td><%= sh.reason %></td>
				<td><%= sh.description %></td>
				<td><%= link_to "Edit", edit_teachers_scholar_hour_path(sh.id) %></td>
				<td><%= link_to "Destroy", teachers_scholar_hour_path(sh.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
				<td><%= sh.served? ? sh.date_served.strftime('%a, %b %e') : link_to("Complete", teachers_scholar_hour_complete_path(sh), method: :post) %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>
</div>
<div class="col-md-1"></div>
