
<div id="overlay"></div>
<div id="grey-background"></div>


<div class="col-md-10 student-container">
	<% @course.students.each do |student| %>
		<div class="box student" data-enrollment-id="<%= student.enrollments.find { |e| e.course_id == @course.id }.id %>">
			<div class="initials text-center"><%= "#{student.first_name[0]} #{student.last_name[0]}" %></div>
			<div class="student-name text-center"><%= student.first_name.capitalize %></div><br>
		</div>
	<% end %>
</div>
<div class="col-md-2">
	<% @actions.common_positive_actions.each do |action| %>
		<button class="submit btn btn-primary btn-lg student-action-button" data-action-type="<%= action.name %>" data-action-id="<%= action.id %>" data-course-id="<%= @course.id %>"><%= action.name.capitalize %></button> <br> <br>
	<% end %>
	<% @actions.common_negative_actions.each do |action| %>
		<button class="submit btn btn-lg btn-warning student-action-button" data-action-type="<%= action.name %>" data-action-id="<%= action.id %>" data-course-id="<%= @course.id %>"><%= action.name.capitalize %></button> <br> <br>
	<% end %>
	<button class="btn btn-danger btn-lg student-action-button" data-toggle="modal" data-target=".bs-example-modal-lg">Other Actions</button>
	<%= button_to "View Action History", teachers_course_student_actions_path(@course.id), class: "btn btn-info btn-sm student-action-button", method: :get %>
</div>

<div class="modal bs-example-modal-lg" id="student-action-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content row action-content">
      <div class="col-md-4 ">
				<% @actions.secondary_positive_actions.each do |action| %>
					<button class="submit btn btn-primary btn-lg student-action-button" data-action-type="<%= action.name %>" data-action-id="<%= action.id %>" data-course-id="<%= @course.id %>"><%= action.name.capitalize %></button> <br> <br>
				<% end %>
			</div>
			<div class="col-md-4 ">
				<% @actions.secondary_negative_actions[0..6].each do |action| %>
					<button class="submit btn btn-lg btn-warning student-action-button" data-action-type="<%= action.name %>" data-action-id="<%= action.id %>" data-course-id="<%= @course.id %>"><%= action.name.capitalize %></button> <br> <br>
				<% end %>
			</div>
			<div class="col-md-4 ">
				<% @actions.secondary_negative_actions[7..-1].each do |action| %>
					<button class="submit btn btn-lg btn-warning student-action-button" data-action-type="<%= action.name %>" data-action-id="<%= action.id %>" data-course-id="<%= @course.id %>"><%= action.name.capitalize %></button> <br> <br>
				<% end %>
			</div>	
    </div>
  </div>
</div>
