<%= link_to "See student actions" %>

<div id="overlay"></div>
<div id="fade"></div>


<div class="col-md-10">
	<div class="message"></div>
	<% @course.students.each do |student| %>
	<div class="box student" data-enrollment-id="<%= student.enrollments.find { |e| e.course_id == @course.id }.id %>">
		<div class="initials text-center"><%= "#{student.first_name[0]} #{student.last_name[0]}" %></div>
		<div class="student-name text-center"><%= student.first_name.capitalize %></div><br>
	</div>
	<% end %>
</div>
<div class="col-md-2">
	<% @actions.each do |action| %>
		<button class="submit" data-action-type="<%= action.name %>" data-action-id="<%= action.id %>" data-course-id="<%= @course.id %>"><%= action.name %></button>
	<% end %>
</div>

<a onclick="document.getElementById('overlay').style.display='block';document.getElementById('fade').style.display='block'"
    href="javascript:void(0)">Click here to open the overlay</a>
