<h1>All Guardians</h1>
<p id="notice"><%= notice %></p>

<table class="table">
  <thead>
    <tr>
      <th>Username</th>
      <th>Code</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Students</th>
      <th>Login Counter</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @guardians.each do |guardian| %>
      <tr>
        <td>username: <br> <%= guardian.username %></td>
        <td>password: <br><%= guardian.code %></td>
        <td><%= guardian.first_name %></td>
        <td><%= guardian.last_name %></td>
        <td><%= guardian.email %></td>
        <td>
          <% guardian.guardianships.each do |g| %>
            <%= g.student_name %> <br>
          <% end %>
        </td>
        <td><%= guardian.login_counter %></td>
     </tr>
      
    <% end %>

  <%= render partial: 'shared/new_guardian', :locals => { guardian: @guardian } %>
  </tbody>
</table>


