<%= form_for(@course, url: admin_courses_path, method: :post) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :teacher_id %><br>
    <%= f.select :teacher_id, options_from_collection_for_select(@teachers, "id", "last_name")%>
  </div>
  <div class="field">
    <%= f.label :period %><br>
    <%= f.select :period_id, options_from_collection_for_select(@periods, "id", "name")%>
  </div>
  <div class="field">
    <%= f.label :subject %><br>
    <%= f.text_field :subject %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
